<!-- Preloader -->
<%= render 'shared/preloader' %>
<!-- Preloader end -->

<!-- Header-->
<%= render 'shared/header' %>
<!-- Header end -->

        <!-- Wrapper-->
        <div class="wrapper">
            <!-- Page Header-->
            <%= render 'shared/product/product_header' %>
            <!-- Page Header end-->

            <!-- Product-->
            <%= render 'shared/product/product_content' %>
            <!-- Product end-->

            <!-- Tabs-->
            <%= render 'shared/product/product_tabs' %>
            <!-- Tabs end-->

            <!-- Related Products-->
            <!-- <%= render 'shared/product/product_related_carousel' %> -->
            <!-- Related Products end-->

            <!-- Footer-->
            <%= render 'shared/footer' %>
            <!-- Footer end-->
        </div>
        <!-- Wrapper end-->

        <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
