<!-- Preloader-->
<%= render 'shared/preloader' %>
<!-- Preloader end-->

<!-- Header-->
<%= render 'shared/header' %>
<!-- Header end-->

<!-- Wrapper-->
<div class="wrapper">
  <!-- Form to sign up section -->
    <section class="module-cover parallax fullscreen text-center" id="global-background" data-overlay="0.65" data-gradient="">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 m-auto">
                    <div class="m-b-20">
                      <h4>Create a new account</h4>
                    </div>
                    <div class="m-b-20">
                          <!-- Sign up form -->
                          <%= form_for(resource, as: resource_name, url:registration_path(resource_name)) do |f| %>
                            <%= devise_error_messages! %>
                            <div class="form-group">
                                <%= f.text_field :username, placeholder:'Name', :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :email, placeholder:'Email', :class => "form-control"  %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, placeholder:'Password', autocomplete: "new-password", :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password_confirmation, placeholder: 'Confirm Password (6 characters minimum)', autocomplete: "new-password", :class => "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.submit 'Create User', :class => 'btn btn-block btn-round btn-brand'%>
                            </div>
                            <%= render "devise/shared/links" %>
                            <% end %>
                            <!-- Sign up form end -->
                    </div>
                    <div class="m-b-20">
                        <p><small>By signing up, you agree to the <a href="#">terms of service</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Form to sign up section end -->

    <!-- Footer-->
    <%= render 'shared/footer' %>
    <!-- Footer end-->
</div>
<!-- Wrapper end-->

<!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
