<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-1.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Classic Chair</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-2.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Thermo Flask</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-3.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Folder Calendar</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-4.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Amber Body Lotion</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-5.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Solo Headphones</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-6.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Ceramic Watch</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-7.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Wooden Bathroom Set</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-8.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-9.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-10.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-11.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-12.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-13.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-14.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-15.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-16.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-17.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-18.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-19.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-grid-item">
                    <div class="shop-item-thumb"><a href="#"><%= image_tag "cat-20.jpg" %></a>
                        <div class="shop-item-hidden"><a class="btn btn-new-white" href="#">Add to cart</a></div>
                    </div>
                    <div class="shop-item-captions">
                        <h6 class="shop-item-title">Plain Glass Bottle</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="40px"></div>
            </div>
        </div>
    </div>
</section>
