<header class="header header-transparent">
    <div class="container-fluid">
        <!-- Brand-->
        <div class="inner-header"><a class="inner-brand" href="index.html">Meowww</a></div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-nav">
                <ul>
                    <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">Home</span></a>
                        <div class="mega-menu">
                            <ul class="sub-menu mega-menu-row" data-background="assets/images/menu-3.jpg">
                                <!-- Column 1-->
                                <li class="menu-item-has-children mega-menu-col"><a href="#">Multi Page</a>
                                    <ul class="sub-menu">
                                        <li><a href="index-5.html">Vimeo Video</a></li>
                                        <li><a href="index-4.html">Youtube Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">Pages</span></a>
                        <div class="mega-menu">
                            <ul class="sub-menu mega-menu-row" data-background="assets/images/menu-1.jpg">
                                <!-- Column 1-->
                                <li class="menu-item-has-children mega-menu-col"><a href="#">Pages 1</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-1.html">About Us 1</a></li>
                                        <li><a href="about-2.html">About Us 2</a></li>
                                        <li><a href="services-1.html">Services 1</a></li>
                                        <li><a href="services-2.html">Services 2</a></li>
                                        <li><a href="timeline.html">Timeline</a></li>
                                        <li><a href="pricing-1.html">Pricing</a></li>
                                        <li><a href="faqs.html">FAQs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Shop</span></a>
                        <ul class="sub-menu">
                            <li><a href="shop-grid-1.html">Shop 2 Columns</a></li>
                            <li><a href="shop-grid-2.html">Shop 3 Columns</a></li>
                            <li><a href="shop-grid-3.html">Shop 4 Columns</a></li>
                            <li><a href="shop-single-1.html">Single Product</a></li>
                            <li><a href="shop-checkout.html">Checkout</a></li>
                            <li><a href="shop-cart-1.html">Cart</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="extra-nav">
            <ul>
              <% if user_signed_in? %>
                <li id="special-nav">
                  Connected as <%= current_user.username %>
                </li>
                <li id="special-nav">
                  <%= link_to "Edit Account", edit_user_registration_path %>
                </li>
                <li id="special-nav">
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
                <li>
                  <a class="top-bar-cart" href="/carts/:id"><span class="menu-item-span"><i class="ti-shopping-cart"></i><span><%= @current_cart.cart_items.count %></span></span></a>
                </li>
              <% else %>
                <li id="special-nav">
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
                <li id="special-nav">
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
              <% end %>
            </ul>
        </div>
    </div>
</header>
