<!-- Preloader-->
<%= render 'shared/preloader' %>
<!-- Preloader end-->

<!-- Header-->
<%= render 'shared/header' %>
<!-- Header end-->

<!-- Wrapper-->
<div class="wrapper">
    <!-- Page Header-->
    <%= render 'shared/order/order_header' %>
    <!-- Page Header end-->

    <!-- Checkout-->
    <%= render 'shared/order/order_content' %>
    <!-- Checkout end-->

    <!-- Footer-->
    <%= render 'shared/footer' %>
    <!-- Footer end-->
</div>
<!-- Wrapper end-->

<!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
