<% if user_signed_in? %>
  <!-- Preloader-->
  <%= render 'shared/preloader' %>
  <!-- Preloader end-->

  <!-- Header-->
  <%= render 'shared/header' %>
  <!-- Header end-->

  <!-- Wrapper-->
  <div class="wrapper">
      <!-- Page Header-->
      <% render 'shared/cart/cart_header' %>
      <!-- Page Header end-->

      <!-- Shop cart-->
      <%= render 'shared/cart/cart_content' %>
      <!-- Shop cart end-->

      <!-- Footer-->
      <%= render 'shared/footer' %>
      <!-- Footer end-->
  </div>
  <!-- Wrapper end-->

  <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
<% else %>
  <!-- Preloader-->
  <%= render 'shared/preloader' %>
  <!-- Preloader end-->

  <!-- Header-->
  <%= render 'shared/header' %>
  <!-- Header end-->

  <!-- Wrapper-->
  <div class="wrapper">
      <!-- Page Header-->
      <% render 'shared/cart/cart_header' %>
      <!-- Page Header end-->

      <!-- Shop cart-->
      <<section class="module-cover parallax fullscreen text-center" id="global-background" data-overlay="0.65" data-gradient="">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6 m-auto">
                      <div class="m-b-20">
                        <div class="alert alert-success">
                          <strong>Warning!</strong> You must <%= link_to "sign-up", new_user_registration_path, class: "alert-link" %> to access this page
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Shop cart end-->

      <!-- Footer-->
      <%= render 'shared/footer' %>
      <!-- Footer end-->
  </div>
  <!-- Wrapper end-->

  <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
<% end %>
